.type-customer{
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 9px;
    margin-top: 15px;
}
.truck-label{
    font-size: 20px !important;
    font-weight: 700;
    margin-bottom: 10px;
}
.truck-form{
    font-size: 20px;
}
.card .card-title {
    color: #000;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 700;
}
.info-order{
    border-bottom: 1px solid #eee;
}
.btn-order{
    display: flex;
    justify-content: center;
    align-items: center;
}
